<h1>Welcome to Figurine World friends!<h1>

<h3>Check out our wonderful figurines below:</h3>

<div class="row">
  <% @figurines.each do |figurine| %>
    <div class="col-md-4">
      <div class="well">
        <h3><%= figurine.name %></b></h3>
        <%= image_tag "#{figurine.images[0].url}" %>
        <ul>
          <li>Price: $<%= figurine.price %> </li>
          <li>Description: </li>
          <p class="item_description"><%= figurine.description %></p>
          <a href="/figurines/<%= figurine.id %>/buy">Click here to buy!</a><br>
          <a href="/figurines/<%= figurine.id %>"><%= figurine.name %></a>
        </ul>
      </div>
    </div> 
  <% end %>  
</div>