<% @figurine.images.each do |image| %>
  <%= image_tag "#{image.url}" %>
<% end %>
<ul>
  <li><%= @figurine.name %></li>
  <li>$<%= @figurine.price %></li>
  <li><%= @figurine.description %></li>
  <li><%= @figurine.supplier.name %></li>
</ul>
<%= form_tag "/orders", method: :post do %>
  <div class="form-group">
    <%= label_tag :quantity %>
    <%= text_field_tag(:quantity, 1, {class: "form-control" })%>
  </div>
  <div class="form-group">
    <%= text_field_tag(:figurine_id, @figurine.id, {class: "hidden"}) %>
  </div>
  <div>
    <%= button_tag 'BUYBUYBUY!', class: "btn btn-default" %>
  </div>
<% end %>
<p></p>
<%= link_to "Add some new images for this figurine!", "/images/new?id=#{@figurine.id}" %>
<p></p>
<a href="/figurines">Back to figurines</a>
<p></p>
<%= link_to "Edit the info for this figurine", "/figurine/#{@figurine.id}/edit" %>
<p></p>
<%= link_to "Delete this figurine (oh noes O:)", "/figurine/#{@figurine.id}", method: :delete %>

