
<%= image_tag "#{@figurine.image}" %>
<ul>
  <li><%= @figurine.name %></li>
  <li><%= @figurine.price %></li>
  <li><%= @figurine.description %></li>
</ul>
<a href="/figurines">Back to figurines</a>
<p></p>
<%= link_to "Edit the info for this figurine", "/figurine/#{@figurine.id}/edit" %>
<p></p>
<%= link_to "Delete this figurine (oh noes O:)", "/figurine/#{@figurine.id}", method: :delete %>
