<%= form_tag'/images/create', method: :post do %>
  <div class="form-group">
    <%= label_tag :figurine %>
    <%= text_field_tag(:figurine, @figurine.name, {class: "form-control", placeholder: "Enter the name of the figurine your image belongs to here!"})%>
  </div>
  <div class="form-group">
    <%= label_tag :url %>
    <%= text_field_tag :url, nil, class: "form-control", placeholder: "Enter the image url here." %>
  </div>
  <div>
    <%= button_tag 'Send', class: "btn btn-default" %>
  </div>
<% end %>